USE [master]
GO
/****** Object:  Database [dbSach]    Script Date: 7/17/2021 4:48:00 PM ******/
CREATE DATABASE [dbSach]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbSach', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\dbSach.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbSach_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\dbSach_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbSach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbSach]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 7/17/2021 4:48:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Content] [nvarchar](50) NULL,
	[AuthorName] [nvarchar](50) NULL,
	[Price] [float] NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Sach] ON 

INSERT [dbo].[Sach] ([Id], [Title], [Content], [AuthorName], [Price]) VALUES (1, N'Nhà giả kim', N'dsfsdfasf', N'abc', 15)
INSERT [dbo].[Sach] ([Id], [Title], [Content], [AuthorName], [Price]) VALUES (2, N'Giết con chim nhại ', N'asdfasd', N'asdf', 54)
INSERT [dbo].[Sach] ([Id], [Title], [Content], [AuthorName], [Price]) VALUES (3, N'Dấu chân trên cát', N'dsafdsf', N'dfasdf', 546)
SET IDENTITY_INSERT [dbo].[Sach] OFF
USE [master]
GO
